.home__main-content {
    display: flex;
}

.home__sidebar {
    background-color: $dark-grey;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 450px;
}


.home__siderbar-navbar{
    display: flex;
    justify-content: space-between;

    h3{
        font-weight: lighter;
    }
}

.home__new-entry{
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    transition: color .3s ease;

    &:hover{
        color:darken($color: #FFF, $amount: 20);
    }
}